.information {
  color: var(--light-text);
  max-width: 800px;
  margin: auto;
  padding: 50px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.information_section .linea {
  border-top: 1px solid var(--proyect-tertiary-color);
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.information_section h2 {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 500;
}

.information_section h3 {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 500;
}

.information_content {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 35px;
}

.information_content p {
  max-width: 400px;
}

.information_content img {
  max-width: 330px;
  max-height: 250px;
  object-fit: contain;
}

div.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  .information_content {
    flex-direction: row;
  }

  div.vertical p,
  div.vertical img {
    max-width: 800px;
    max-height: none;
  }
}
