:root {
  --bg-color: #2d2d2d;
  --bg-secondary-color: #d1d1d1;
  --secondary-color: #6e76bd;
  --light-text: white;

  --proyect-bg: #eaeaea;
  --proyect-color: #000000;
  --proyect-secondary-color: #3440b4;
}
