.aboutMe {
  background-color: var(--bg-secondary-color);
}

.aboutMe_items {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  align-items: flex-start;
  max-width: 1800px;
  margin: auto;
}

.aboutMe_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.aboutMe_item p {
  text-align: center;
  max-width: 250px;
}

@media (min-width: 1000px) {
  .aboutMe_items {
    max-width: 1000px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 100px 0px;
  }

  .aboutMe_item p {
    font-size: 1rem;
    max-width: 600px;
  }

  .aboutMe_item h4 {
    font-weight: 500;
    font-size: 1.4rem;
  }
}
